@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* HEADER */
header{
    background-color: #fafafa; 
} 
 
#hero-image{
    height:800px;
    width: 100%;
    background: url("../images/Tradireland-hero-image.jpeg") no-repeat center center ;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 1;
    object-fit: fill;
    object-position: center;
}

#hero-outer{
    height:800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 600px) {
  .cover-text {
    font-size: 30px;
    justify-content: center;
  }
  .h1 {
      font-size: 3rem;
  }
}
@media screen and (min-width: 601px) {
  .cover-text {
    font-size: 80px;
  }
  .h1 {
      font-size: 1.5rem;
  }
}

#cover-text, #cover-text h2 {
    color: rgb(8, 8, 7); 
}

#cover-text {
    font-size: 110%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 3px; 
    border-width: 5px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-right: 10px;

    background-color: #eeaeae65;

    bottom: 30px;
    left: 120px;

    position: absolute;

}

/* NAVBAR */
/* NAVBAR */
 .navbar-default { 
    border-color: #E7E7E7;  
    color: #E7E7E7;
}
 /* Footer */
footer {
    height: 150px;
}
/* social links */
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}
/* Body */
body {
    background-color: #FCDEC0; 
    font-family: roboto, sans-serif; 
    font-size: 1.5rem;
    color: #023047;
}

.my-about {
    border: 5px double red; 
    border-style: double;
    justify-content: center;
    max-width: fit-content;
    box-align: center;
}

.card-body {
    max-width: 100%;
}
 
.my-container {
    width: 100%;
    display: flex;
}

.my-col {
    max-width: 100%;
}

.col {
    flex: 1;
}