@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header{
    background-color: #fafafa;
} 


.logo {
    background: url("../images/pexel1.jpg");
    background-position: center; 
}